@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font: 400 15px/24px 'Source Sans Pro', sans-serif;
    background-color: #f7f7f7;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55rem;
    height: 55rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toolbar--box {
    display: flex;
    align-items: center;
    margin: .4rem 0;
    list-style: none;
}

.toolbar--item {
    margin-right: .3rem;
}

.toolbar--item button {
    min-height: 2.5rem;
    padding: .6rem 1rem;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background-color: #fff;
    transition: .2s background-color linear;
}

.toolbar--item button:hover {
    background-color: rgba(240, 238, 238, 0.65);
}

.toolbar--item button i {
    font-size: 18px;
    font-weight: 500;
    color: #352a2a;
}

.toolbar--item select {
    border: none;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .2);
    margin-right: .4rem;
    cursor: pointer;
    padding: .3rem .2rem;
    font-size: 14px;
    font-weight: 600;
}

.toolbar--item select:focus {
    outline: none;
}

.active {
    background-color: rgb(234, 232, 232) !important;
}

.rich-text-field {
    width: 55rem;
    height: 50rem;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 1px 8px 2px rgba(0,0,0, .2);
    border-radius: 5px;
    overflow: hidden;
    background-color: #fefefe;
}